.footer__column-link {
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;

  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  opacity: 0.4;
  transition:0.5s linear;
}