.footer__column-link {
  margin-bottom: 10px;
  display: block;

  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: 0.4;
  transition:0.5s linear;
}